*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
  background: $color_secondary;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-family: $sansserif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll; /* force scroll to appear */
}

/* helper class when showing content */
.noscroll {
  overflow: hidden;
}

a {
  outline: none;
  color: $color_link;
  text-decoration: none;
  @include transition(color 250ms);
}

a:hover,
a:focus {
  color: #333;
  outline: none;
}

button:focus {
  outline: none;
}

/* Main content */
.main {
  position: relative;
  z-index: 50;
  @include transition(transform $anim_time);
  @include translateX(0);
}
.main-overlay {
  @include opacity(0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include transition(opacity $anim_time);
  cursor: pointer;
}


/* Top bar above the grid */
.top-bar {
  background: #fff;
  width: 100%;
  line-height: 1;
  padding: 15px 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.top-bar__headline {
  margin: 0;
  font-size: 0.75em;
}


/* close button (for content and sidebar) */
.close-button {
  position: fixed;
  border: none;
  border: solid 1px $color_link;
  background: transparent;
  margin: 0;
  z-index: 200;
  top: 20px;
  left: 30px;
  font-size: 13px;
  color: $color_link;
  @include border-radius(2px);
  cursor: pointer;
  pointer-events: none;
  padding: 8px 12px 8px 8px;
  opacity: 0;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  @include translateX(50px);
  @include transition(background 200ms, color 200ms, opacity 200ms 400ms, transform 200ms 400ms);
  &:hover {
    background: $color_link;
    color: #fff;
  }
  .fa {
    margin-right: 5px;
  }
}

/* show class for content close button */
.close-button--show {
  opacity: 1;
  pointer-events: auto;
  @include translateX(0);
}