$serif: 'Oswald', serif;
$sansserif: 'Martel Sans', Arial, sans-serif;
$item_width: 320px;
$sidebar_width: 300px;
$color_primary: #fff;
$color_secondary: #f5f5f5;
$color_link: #9bc6ba;
$anim-time: 0.5s;

@import url("http://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:500|Martel+Sans:400,700");

.axeon { background: image_url('axeon.jpg') center center; }
.neon { background: image_url('neon.jpg') center center; }
.bookmix { background: image_url('2.jpg') center center; }
.ukc-map { background: image_url('3.jpg') center center; }