$serif: 'Lora', serif;
$sansserif: 'Lato', Arial, sans-serif;
$item_width: 360px;
$sidebar_width: 300px;
$color_primary: #f3f3f3;
$color_secondary: #fcfcfc;
$color_link: #77c1b2;
$anim-time: 0.5s;

@import url("http://fonts.googleapis.com/css?family=Lora:400,700|Lato:400,400italic");