%a.axeon.grid__item{:href => "#", :data => {:name => "axeon"}}
  .thumb= image_tag "axeon/axeon.jpg"
  .grid__background
  .grid__content
    .grid__text
      %h2.title.title--preview= image_tag "axeon/logo.png"
      %span.category Website Development
      .loader