%a.grid__item{:href => "#"}
  .thumb= image_tag "bookmix/bookmix.jpg"
  .grid__background
  .grid__content
    .grid__text
      %h2.title.title--preview= image_tag "bookmix/logo.png"
      %span.category Concept
      .loader