%a.erudify.grid__item{:href => "#"}
  .thumb= image_tag "erudify/erudify.jpg"
  .grid__background
  .grid__content
    .grid__text
      %h2.title.title--preview= image_tag "erudify/logo.png"
      %span.category Website Development
      .loader