%a.neon.grid__item{:href => "#"}
  .thumb= image_tag "neon/neon.jpg"
  .grid__background
  .grid__content
    .grid__text
      %h2.title.title--preview= image_tag "neon/logo.png"
      %span.category Website Development
      .loader