.slide{"data-content" => "content-5"}
  .img-wrap
    %img{:alt => "img5", :src => "images/5.jpg"}
  %h2
    Mountain Sun
    %span Crazy nature and other weather ideas
  %button.content-switch Read more