.slide{"data-content" => "content-6"}
  .img-wrap
    %img{:alt => "img6", :src => "images/6.jpg"}
  %h2
    Beloved Mother
    %span Decomposing fruits and burning houses
  %button.content-switch Read more