.slide{"data-content" => "content-1"}
  .img-wrap
    %img{:alt => "img1", :src => "images/axeon.jpg"}
  %h2
    AXEON
    %span Distilling design ideas and other interesting topics
  %button.content-switch
    Read more