.slide{"data-content" => "content-3"}
  .img-wrap
    %img{:alt => "img3", :src => "images/3.jpg"}
  %h2
    Taking Sneezes
    %span Nothing is out there—let's try again
  %button.content-switch Read more