.slide{"data-content" => "content-4"}
  .img-wrap
    %img{:alt => "img4", :src => "images/4.jpg"}
  %h2
    Heavy Talks
    %span Heated conversations in the back yard
  %button.content-switch Read more